<nav class="nav-breadcrumbs">
    <!-- <ul class="breadcrumb spb-1"> -->
    {% assign crumbs = page.url | append: "/"  | replace: '//', '/' | split: '/' %}
    {% for crumb in crumbs offset: 1 %}
        {% if crumb != "index" %}
            {% if forloop.last %}
                <!-- <li class="breadcrumb-item active" aria-current="page"> -->
                <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                <!-- </li> -->
            {% else %}
                {% if page.url != "/docs/" %}
                    <!-- <li class="breadcrumb-item"> -->
                    <a href="{{ site.url }}{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
                    {% if crumb == "docs" %}Documentation{% else %}
                        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
                    {% endif %}
                    </a>
                    &nbsp;/&nbsp;
                    <!-- </li> -->
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- </ul> -->
</nav>
<br/>