<ul class="social-media-list">
  {%- if site.twitter_username -%}<li><a aria-label="{{ site.twitter_username| escape }} on Twitter" title="{{ site.twitter_username| escape }} on Twitter" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.twitter_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.github_username -%}<li><a aria-label="{{ site.github_username| escape }} on GitHub" title="{{ site.github_username| escape }} on GitHub" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.linkedin_company -%}<li><a aria-label="{{ site.linkedin_company| escape }} on LinkedIn" title="{{ site.linkedin_company| escape }} on LinkedIn" href="https://www.linkedin.com/company/{{ site.linkedin_company| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">{{ site.linkedin_company| escape }}</span></a></li>{%- endif -%}
  
  <li>
    <a aria-label="Subscribe to this site's RSS feed" title="Subscribe to this site's RSS feed" href="{{ 'feed.xml' | relative_url }}">
      <svg class="svg-icon orange">
        <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg><span class="username"> subscribe</span>
    </a>
  </li>
</ul>
