/* 
	Modify elements for Beeck Center visual identity:

	color palette:  #041e42, #da291c, #6eaddc
	fonts: 
		sans for body text/paragraphs = Montserrat, fallback to Open Sans, bold/normal
		serifs for document hierarchies = Libre Baskerville, fallback to Georgia, bold/normal
	+ use the logo
*/

body {
    font-family: Montserrat, "Open Sans", sans-serif;
}

// .site-title, h1, h2, h3, h4, h5, h6 {
//     font-weight: bold;
// }

body, a, .site-title, h1, h2, h3, h4, h5, h6 {
    color: #041e42;
}

a {
    color: #6eaddc;
}

.icon, .main-content .anchor-heading svg, .nav-list .nav-list-item .nav-list-expander {
    color: #041e42;
}

a:hover, a.site-title:hover, a.page-link:hover {
    color: #da291c;
}

a:not([class]):hover {
    background-image: none;
}

::selection {
    color: #fff;
    background: #6eaddc;
}

ul.list-dir-contents {
    list-style: none; 
    padding-left: 0;
    margin-left: 0;
}

.username {
    display: none;
}
// .nav-breadcrumbs {
// }

.hide {
    display: none;
}

.site-title {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace
}
.site-title span {
    font-size: 10px;
}

span.site-caption {
    @include relative-font-size(0.8);
    color: $grey-color;  
    line-height: 3em;
    margin-top: -2em;
    letter-spacing: normal;
    display: none;
}

blockquote { // unset some odd choices in _base.scss
    color: darkslategray;
    font-size: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    border-left-width: 8px;
}

.home blockquote {
    @include relative-font-size(0.9375);
    margin-bottom: 1em;
    padding-left: 0;
    border-left: none;
}

.home h1, .home h2 {
    margin-top: 1em;
}

.home-recent-updates-wrapper {
    padding-bottom: 6px;
}

.home-recent-updates {
    margin-bottom: 15px;
    h3, p {
        padding-bottom: 6px;
        margin-bottom: 0;
    }
}
